.container-message{
	color: #fff;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: end;
	margin: 3% 0;
}

.container-message .message{
	background-color: rgb(60, 90, 180);
	padding: 1%;
	max-width: 30%;
	border-radius: 5px;
}

.container-message .message,
.container-message_nilson .message{
	animation: pop .25s ease;
}

.message p{margin: 0;}


.container-message_nilson{
	width: 100%;
	height: auto;
	margin: 1% 0;
}

.container-message_nilson .message{
	background-color: #eee;
	max-width: 30%;
	padding: 1%;
	border-radius: 5px;
}

@keyframes pop {
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}


@media only screen and (max-width: 720px){
	.container-message_nilson .message,
	.container-message .message{
		max-width: 75%;
		margin: 2% 0;
		padding: 4% 2%;
		box-sizing: border-box;
	}
}


