.container-message{
	color: #fff;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: end;
	margin: 3% 0;
}

.container-message .message{
	background-color: rgb(60, 90, 180);
	padding: 1%;
	width: 30%;
	border-radius: 5px;
}

.container-message .message,
.container-message_nilson .message{
	animation: pop .25s ease;
}

.message p{margin: 0;}


.container-message_nilson{
	width: 100%;
	height: auto;
	margin: 1% 0;
}

.container-message_nilson .message{
	background-color: #eee;
	max-width: 30%;
	padding: 1%;
	border-radius: 5px;
}

@keyframes pop {
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}



