.container-sidebar{
	background: rgb(21, 107, 183);
	width: 26%;
	height: 550px;
	border-radius: 5px;
}

.title_chat{
	color: white;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
}

.title_chat, .input_sidebar{padding: 1% 6%; box-sizing: border-box;}

.container-sidebar input{
	background: rgba(255, 255, 255, .3);
	width: 100%;
	height: 35px;
	border-radius: 5px;
	color: #fff;
	border: none;
	padding: 1% 4%;
	box-sizing: border-box;
}

input:focus{outline: 0;}


.icon-add{
	background: #fff;
	color: rgb(21, 107, 183);
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	font-size: 1.3rem;
	cursor: pointer;
}

.container-list_chat{
	margin: 4% 0;
}

.item-friends{
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 2% 8%;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .2);
	cursor: pointer;
}

.item-friends .photo_profile{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 100%;
	margin: 0 6% 0 0;
}

.item-friends .photo_profile img{
	width: 100%;
	height: 100%;
}

.item-friends h4, .item-friends p{margin: 0; color: #fff;}

@media only screen and (max-width: 720px){
	.container-sidebar{
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 2;
		border-radius: 0;
		display: none;
	}
}
