.contentMessage{
	height: 550px;
	width: 74%;
	overflow: hidden;
	display: grid;
	grid-template-rows: 55px 1fr 55px;
}

.header-contentMessage{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
}

.input-message{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #ccc;
}

.input-message button{
	width: 45px;
	height: 45px;
	border-radius: 100%;
	border: none;
	background: rgb(21, 107, 183);
	cursor: pointer;
}

.input-message button:hover{background: rgba(21, 107, 183, .8); box-shadow: 1px 1px 1px #aaa;}

.input-message button img{
	width: 85%;
	height: 65%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-message input{
	height: 100%;
	border: none;
	background-color: transparent;
	width: 85%;
	font-size: 1rem;
}

.user_profile_nilson{
	width: 35px;
	height: 35px;
	overflow: hidden;
	margin: 0 2%;
}

.user_profile_nilson img{
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 800px){

	.user_profile_nilson{
		width: 35px;
		height: 35px;
		overflow: hidden;
		margin: 0 2%;
	}

	.user_profile_nilson img{
		width: 100%;
		height: 100%;
	}

	.header-contentMessage{
		background-image: linear-gradient(to bottom right, rgb(58, 31, 207), rgb(106, 54, 228));
		color:#fff;
		overflow-y: none;
	}

	.input-message{
		position: absolute;
		height: 64px;
		bottom: 0;
	}
}